#colors{
    margin: 1rem 4rem;
}
input[type="radio" i]{
    border-radius: 5px;
}
h2{
    text-align: center;
}

#images{
    margin: 1rem 3rem;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#team-member{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    margin: 1rem 1rem;
    filter: blur(5px);
    transition: transform 0.5s;
    transform: scale(1);
}

#team-member:hover{
    filter: blur(0px);
    transform: scale(2);
    border: 0.3rem cyan solid;
    z-index: 2;
}
